
@font-face {
  font-family: 'DeftoneStylus-Regular';
  src: url('DeftoneStylus-Regular.eot?#iefix') format('embedded-opentype'),  url('DeftoneStylus-Regular.woff') format('woff'), url('DeftoneStylus-Regular.ttf')  format('truetype'), url('DeftoneStylus-Regular.svg#DeftoneStylus-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
