@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/Lato-Regular/Lato-Regular.eot") format("embedded-opentype"), url("../fonts/Lato-Regular/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular/Lato-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.cart_container {
  padding: 10px;
}

.cart_container .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart_container .cart .left-cart {
  height: 613px;
  width: 25%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
}

.cart_container .cart .left-cart div .cart-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 10px;
}

.cart_container .cart .left-cart div .cart-top .item-top {
  font-family: 'Lato-Regular';
  font-size: 12px;
  font-weight: 600;
  color: #008081;
}

.cart_container .cart .left-cart div .cart-top .item-top:hover {
  cursor: pointer;
}

.cart_container .cart .left-cart div .cart-top div {
  font-family: 'Lato-Regular';
  font-size: 20px;
  font-weight: 600;
  color: #4a4a4a;
}

.cart_container .cart .left-cart div .items-container {
  overflow: auto;
  height: 350px;
}

.cart_container .cart .left-cart div .items-container .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-item-align: center;
      align-self: center;
}

.cart_container .cart .left-cart div .items-container .item .image {
  width: 133px;
  height: 63px;
  border-radius: 5px;
}

.cart_container .cart .left-cart div .items-container .item .image img {
  border-radius: 5px;
  -o-object-fit: fill;
     object-fit: fill;
}

.cart_container .cart .left-cart div .items-container .item .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart_container .cart .left-cart div .items-container .item .product span {
  white-space: nowrap;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  font-weight: 600;
  color: #4a4a4a;
  font-family: 'Lato-Regular';
}

.cart_container .cart .left-cart div .items-container .item .product .item-text button {
  font-size: 13px;
  background-color: white;
  color: #008081;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.cart_container .cart .left-cart div .items-container .item .product .item-text button:focus {
  outline: none;
}

.cart_container .cart .left-cart div .items-container .item .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Lato-Regular';
  font-size: 16px;
  font-weight: 300;
  width: 50px;
  color: #9b9b9b;
}

.cart_container .cart .left-cart div .items-container .noitems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-family: 'Lato-Regular';
}

.cart_container .cart .left-cart div .bill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0px;
  width: 85%;
}

.cart_container .cart .left-cart div .bill .total-bill {
  font-family: 'Lato-Regular';
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #4a4a4a;
}

.cart_container .cart .left-cart div .checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart_container .cart .left-cart div .checkout button {
  background-color: #008081;
  color: white;
  font-size: 16px;
  font-weight: 900;
  font-family: 'Lato-Regular';
  border: none;
  border-radius: 3px;
  padding: 15px 66.5px;
  margin: 10px 0px;
}

.cart_container .cart .left-cart div .checkout button:focus {
  outline: none;
}

.cart_container .cart .right-cart {
  width: 45%;
}

.cart_container .cart .right-cart .latest-items {
  font-family: 'Lato-Regular';
  font-size: 20px;
  font-weight: 600;
  color: #4a4a4a;
}

@media (min-width: 320px) and (max-width: 480px) {
  .right-cart {
    display: none;
    width: 0%;
    height: 0%;
  }
  .cart_container {
    padding: 0;
    margin: 0;
  }
  .cart_container .cart .left-cart {
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 522px) {
  .right-cart {
    display: none;
    width: 0%;
    height: 0%;
  }
  .cart_container .cart .left-cart {
    width: 100%;
  }
}

@media (min-width: 523px) and (max-width: 769px) {
  .right-cart {
    display: none;
    width: 0%;
    height: 0%;
  }
  .cart_container .cart {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cart_container .cart .left-cart {
    width: 60%;
  }
}

@media (min-width: 770px) and (max-width: 1024px) {
  .cart_container .cart .left-cart {
    width: 50%;
  }
  .cart_container .cart .right-cart {
    width: 65%;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .cart_container .cart .left-cart {
    width: 30%;
  }
  .cart_container .cart .right-cart {
    width: 55%;
  }
}
/*# sourceMappingURL=Cart.css.map */