@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato-Bold/Lato-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Lato-Bold/Lato-Bold.woff') format('woff'), url('../fonts/Lato-Bold/Lato-Bold.ttf')  format('truetype'), url('../fonts/Lato-Bold/Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon/fonts/icomoon.eot?8tul3b');
    src:  url('../fonts/icomoon/fonts/icomoon.eot?8tul3b#iefix') format('embedded-opentype'),
      url('../fonts/icomoon/fonts/icomoon.ttf?8tul3b') format('truetype'),
      url('../fonts/icomoon/fonts/icomoon.woff?8tul3b') format('woff'),
      url('../fonts/icomoon/fonts/icomoon.svg?8tul3b#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-shopping-cart:before {
    content: "\e901";
    color:white;
    font-size: 35px;
  }
  .icon-search-icon:before {
    content: "\e902";
    color: #929292;
  }
  
.NavStyle{
   background-color:#027272;
.buttn{
    outline:none;
}
}
.right{

.anchor{
    text-decoration:none !important;
    color:white!important;
}
}
.pr{
  position: relative;
}
.pa{
  position: absolute;
  top: -9px;
  left: 22px;
  border-radius: 50%;
  height: 21px;
  width: 18px;
  text-align: center;
  background-color: white;
  color: #008081;
  font-weight: bold;
}
a{
  text-decoration:none !important;
}

@media screen and (max-width:768px){
  .edge{
    padding-left:2px !important;
  }
  .NavStyle{
    padding-right:20px !important;
  }
}
 
@media screen and (max-width:768px){
  .rightEdge{
    flex-direction:column !important;
    padding-left:0px;
  }
}
@media screen and (max-width:767px){
  .rightEdge{
    padding-left:0px;
  button{
     padding-left:0px !important;
  }
  }
}
.scrolled{
  position: sticky;
  top:0;
  z-index: 999;
  // animation-timing-function: cubic-bezier(0.25,0.1,0.25,1);
  animation: mymove 2s 1;
  @keyframes mymove {

      from {top: -60px;}
      to {top: 0px;}
    }
}
.navbar {
  margin-bottom: 0;
  background-color: #027272;
  // height:60px;
  
  .textStyles{
      cursor: pointer;
      font-family: 'Lato-Bold';
      font-size: 24px;
      font-weight: 900;
      letter-spacing: 1px;
      color:#ffffff;
  }
  .signStyles{
      font-size: 19px;
      font-weight: 500;
      color:#3a9797;       
      letter-spacing: 1px;
      cursor: pointer;
  }
  .count{
      color:#008081;
      background-color: white;
      border-radius:50%;
      font-size:13px;
  }
  .addProductText{
      font-weight:bold;
      font-family: 'Lato-Bold';
      letter-spacing: 1px;
  }
  .profileDropdown:focus{
     
      box-shadow: none;
  }
  .profileDropdown{
      outline:none;
  }

  .CategoriesNav{
      border-radius: 3px;
      background-color: #ffffff;
      color:#008081;
      font-weight: bold;
  }
  .dropdownDiv{
      width:100px;
      margin-top:6px;
      padding:0;
      min-width:0;
  }
  .loginRound{
      font-size: 15px;
      color:#008081;
      font-weight:bolder;
      font-family: 'Lato-Bold';
      cursor: pointer;
  }
  .loginRoundOptions,.items{
      font-size: 15px;
      color:#008081;
      font-weight:300;
      font-family: 'Lato-Bold';
      cursor: pointer;
  }
  .cart{
      padding-top:3px;
      font-family:'Lato-Bold';
      font-size: 20px;
      font-weight: 300;
      color: #ffffff;
      text-decoration: none;
  }

}


 


  