.navbar {
    font-family:  sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
    color:white
  }
  .textStyles{
      cursor: pointer;
      font-weight: bolder;
      letter-spacing: 1px;
  }